@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  /* --text-color: black; */
  --text-color: #323330;
  --bg-color: #ffffff;
  --header-bg-color: #ecde59;
  --link-text-color: #74d9fa;
  --header-text-color: #323330;
}

/* підлаштовую картинки під зовнішній контейнер */
img {
  display: block;
  width: 100%;
}

/* обмежую елементи по ширині */
.container {
  max-width: 320px;
  margin: auto;
}

#page-wrapper {
}
