.header {
  background-color: var(--header-bg-color);
  display: flex;
  padding: 5px;
}

.header > .container {
  display: flex;
}

.header-nav__menu {
  display: flex;
  flex: 1;
}

.header__logo {
  width: 50px;
  height: 50px;
}

.nav-bar__ul-bar {
  display: flex;
  flex-direction: column;
}

.ul-bar__li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: var(--header-text-color);
}

.nav-link:hover {
  text-decoration: underline;
  color: var(--text-color);
}

.container {
  width: 300px;
  max-width: 300px;
}

.clock {
  width: 95.4833px;
  height: 23px;
  color: var(--header-text-color);
}

.outter-clock {
}

@media (min-width: 500px) {
  .container {
    width: 480px;
    max-width: 480px;
  }

  .menu__nav-bar {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex: 1;
  }

  .nav-bar__ul-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
  }

  .outter-clock {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .container {
    width: 748px;
    max-width: 768px;
  }
  .outter-clock {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1180px;
    max-width: 1024px;
  }
  .outter-clock {
    text-align: center;
  }
}
