.logo {
  width: 50px;
}

.main {
  padding-top: 5px;
  padding-bottom: 5px;
}

.main__main-section {
  /* padding-bottom: 5px; */
}

.menu__nav-bar {
  font-size: 1.2rem;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  /* margin-left: auto; */
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.main-container__section-grid {
  display: grid;
  grid-template-columns: 100%;
}

.section-grid__grid {
  display: grid;
  grid-template-columns: 20% 80%;
  border: 1px solid var(--text-color);
  padding: 5px;
}

.grid__icon {
  width: 50px;
  height: 50px;
}

.desc {
}

@media (min-width: 500px) {
  .main-container__section-grid {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 50% 50%;
  }
  .section-grid__grid {
    grid-template-columns: 25% 75%;
  }
}

@media (min-width: 768px) {
  .main-container__section-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section-grid__grid {
    grid-template-columns: 25% 75%;
  }
}
