.container__products_carousel {
  min-height: 200px;
  width: 220px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.btn-next {
  width: 30px;
  /* background-color: var(--header-bg-color); */
}

.btn-prev {
  transform: rotate(180deg);
  width: 30px;
  /* background-color: var(--header-bg-color); */
}

.slide-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 176px;
}

@media (min-width: 500px) {
  .container__products_carousel {
    width: 450px;
    max-height: 176px;
  }
}

@media (min-width: 768px) {
  .container__products_carousel {
    width: 450px;
    max-height: 176px;
  }
}
